body, html {
  /* Remove margins */
  margin: 0px;
  position: relative;
  background-color: black;
}

canvas {
  margin: auto;
  border: 1px solid white;
}
  
a {
  color: white;
  font-size: 18px;
  font-weight: 700;
}

.link-list {
  list-style: none;
}

#board {
  /* Center the canvas */
  margin: auto;
  width: 800px;
  height: 640px;
}
